.rps-main {
    background-color: black;
    color: white;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
}

.rps-container {
    margin-top: 36px;
    font-size:  24px;
}

.rps-title {
    text-align: center;
    padding: 24px;
    border-bottom: solid white 3px;
}

.rps-button-container {
    gap: 48px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.rpsSelection {
    all: unset;
    border: none;
    padding: 0px;
    cursor: pointer;
    transition: 0.2s;
    width: 150px;
    height: 150px;
}

#computer-selection {

}

#computer-selection-img {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #faea04;
    margin: auto;
}

.rps-icons {
    width: 150px;
    box-sizing: border-box;
}

.rpsSelection:hover, .rpsSelection:active {
    box-shadow: 0px 0px 35px yellow;    
}

.scorePoints, .scoreNames {
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: center;   
}

.scorePoints {
    flex-flow: column wrap;
    align-content: center;
}

#playerName, #computerName, #computerScore, #playerScore {
    margin: 24px;
    font-size: 48px;
    width: 15rem;
}

#results {
    font-size: 2em;
    text-align: center;
    padding: 36px;
}

.disable-button {
    pointer-events: none;
}

.enable-button {
    pointer-events: auto;
}

.highlight-win {
    outline: 8px solid green;
}

.highlight-loss {
    outline: 8px solid red;
}

.highlight-tie {
    outline: 8px solid white;
}

.score-increase {
    animation-name: score-increase;
    animation-duration: 1.5s;
}

@keyframes score-increase {
    from {scale: 1}
    to {scale: 1.5}
    from {scale: 1.5}
    to {scale: 1.0}
}

